@font-face {
  font-family: "Montserrat-medium";
  font-weight: 500;
  font-display: swap;
  src: url("../montserrat n gothic/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src: url("../montserrat n gothic/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-semibold";
  font-weight: 600;
  font-display: swap;
  src: url("../montserrat n gothic/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Gothic";
  font-weight: 700;
  font-display: swap;
  src: url("../montserrat n gothic/Gothic.ttf");
}
.square > div button, .navFlightsBlock .navFlightsSection .lowButtonsFlightsSection button:last-child {
  background-color: rgb(141, 211, 187);
  border: 1px solid rgb(141, 211, 187);
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  border: transparent;
  border-radius: 4px;
  padding: 16px 16px 16px 16px;
  font-weight: 700;
}
.square > div button:active, .navFlightsBlock .navFlightsSection .lowButtonsFlightsSection button:active:last-child {
  transform: scale(0.8, 0.8);
}
.square > div button img, .navFlightsBlock .navFlightsSection .lowButtonsFlightsSection button:last-child img {
  align-items: center;
  padding-right: 4px;
}

.reviews .titleReviews button, .plansOfPlaces .headlineOfPlaces button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(141, 211, 187);
  padding: 10px 14px 10px 14px;
}
.reviews .titleReviews button:active, .plansOfPlaces .headlineOfPlaces button:active {
  transform: scale(0.8, 0.8);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 251, 252);
  font-family: "Montserrat", sans-serif;
}
body p {
  margin: 0%;
}
body .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1380px;
}
body .container .bgImage {
  background-image: url(../img/Title.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 100px;
}

header {
  width: 100%;
  max-width: 1380px;
  display: flex;
  color: white;
  padding: 20px 0px 20px 0px;
  justify-content: space-between;
  font-family: "Montserrat-semibold";
  font-size: 14px;
}
header div:first-child {
  display: flex;
}
header div:first-child div {
  display: flex;
  align-items: center;
}
header div:first-child div p {
  padding-left: 4px;
}
header div:first-child div:last-child {
  padding-left: 32px;
}
header .headerDiv {
  margin-left: 20px;
}
header button:first-child {
  color: white;
  background-color: transparent;
  border: solid transparent;
  font-family: "Montserrat-semibold";
}
header button:first-child:active {
  transform: scale(0.8, 0.8);
}
header button:last-child {
  background-color: white;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px 18px 10px 18px;
  margin-right: 20px;
  font-family: "Montserrat-semibold";
}
header button:last-child:active {
  transform: scale(0.8, 0.8);
}

.headline {
  color: white;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 150px;
}
.headline h2 {
  font-size: 45px;
  margin: 0%;
}
.headline h1 {
  font-size: 80px;
  margin: 0%;
}
.headline h3 {
  font-size: 20px;
}

.navFlightsBlock {
  display: flex;
  justify-content: center;
  position: relative;
  top: -100px;
}
.navFlightsBlock .navFlightsSection {
  background-color: white;
  width: 100%;
  max-width: 1232px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}
.navFlightsBlock .navFlightsSection .buttonsSection {
  display: flex;
  margin: 15px 0px 0px 24px;
}
.navFlightsBlock .navFlightsSection .buttonsSection > div:hover {
  border-bottom: 3px solid rgb(141, 211, 187);
}
.navFlightsBlock .navFlightsSection .buttonsSection .buttonFlightsSection {
  padding: 20px 32px 22px 0px;
}
.navFlightsBlock .navFlightsSection .buttonsSection .buttonStaysSection {
  padding: 20px 32px 22px 32px;
}
.navFlightsBlock .navFlightsSection .buttonsSection button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
  font-family: "Montserrat-semibold";
  font-size: 16px;
}
.navFlightsBlock .navFlightsSection .buttonsSection button img {
  padding-right: 4px;
}
.navFlightsBlock .navFlightsSection .fieldsets {
  margin-top: 48px;
  width: 100%;
  display: flex;
}
.navFlightsBlock .navFlightsSection .fieldsets > div {
  margin-left: 5px;
  width: 100%;
  display: flex;
}
.navFlightsBlock .navFlightsSection .fieldsets > div > div {
  display: flex;
}
.navFlightsBlock .navFlightsSection .fieldsets > div > div fieldset {
  width: 322px;
  margin-left: 23px;
  padding: 0px;
  color: rgb(121, 116, 126);
  border-radius: 5px;
  border: 1px solid rgb(121, 116, 126);
}
.navFlightsBlock .navFlightsSection .fieldsets > div > div fieldset input {
  width: 98%;
  height: 30px;
  border: transparent;
}
.navFlightsBlock .navFlightsSection .fieldsets > div > div fieldset input:active, .navFlightsBlock .navFlightsSection .fieldsets > div > div fieldset input:hover, .navFlightsBlock .navFlightsSection .fieldsets > div > div fieldset input:focus {
  outline: 0;
  outline-offset: 0;
}
.navFlightsBlock .navFlightsSection .fieldsets > div > div .tripInput {
  width: 140px;
}
.navFlightsBlock .navFlightsSection .fieldsets > div > div .tripInput input {
  width: 95%;
}
.navFlightsBlock .navFlightsSection .lowButtonsFlightsSection {
  display: flex;
  margin: 32px 32px 32px 0px;
  justify-content: end;
}
.navFlightsBlock .navFlightsSection .lowButtonsFlightsSection button:first-child {
  background-color: transparent;
  border: transparent;
  display: flex;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 16px 16px 16px 16px;
}
.navFlightsBlock .navFlightsSection .lowButtonsFlightsSection button:first-child img {
  padding-right: 4px;
}
.navFlightsBlock .navFlightsSection .lowButtonsFlightsSection button:first-child:active {
  transform: scale(0.8, 0.8);
}
.navFlightsBlock .navFlightsSection .lowButtonsFlightsSection button:last-child img {
  align-items: center;
  padding-right: 4px;
}

.plansOfPlaces {
  margin: 0 auto;
  margin-left: 74px;
  margin-right: 74px;
}
.plansOfPlaces .headlineOfPlaces {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plansOfPlaces .headlineOfPlaces div h3 {
  font-size: 32px;
  margin: 0px;
}
.plansOfPlaces .headlineOfPlaces div p {
  font-size: 16px;
  color: gray;
  margin-top: 16px;
}
.plansOfPlaces .places {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 390px);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
}
.plansOfPlaces .places img {
  padding: 16px;
}
.plansOfPlaces .places > div {
  background-color: white;
  display: flex;
  box-shadow: 2px 2px 5px 1px rgb(247, 247, 247);
  border-radius: 10px;
}
.plansOfPlaces .places > div ul {
  display: flex;
  margin: 0%;
  padding: 0%;
}
.plansOfPlaces .places > div ul li {
  margin-left: 30px;
}
.plansOfPlaces .places > div ul li:first-child {
  list-style-type: none;
  margin-left: 0px;
}
.plansOfPlaces .places > div p {
  color: rgb(95, 95, 95);
  font-weight: 700;
  padding-top: 39px;
  padding-bottom: 8px;
  margin: 0px;
}

.square {
  display: flex;
  margin-left: 74px;
  margin-top: 70px;
  flex-direction: row;
}
.square .hotelsSquare {
  margin-left: 24px;
}
.square > div {
  color: white;
  position: relative;
  width: 46.7%;
  height: 50vh;
}
.square > div .title {
  font-size: 2.5em;
}
.square > div button {
  margin-top: 16px;
}
.square > div .alignSelf {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.square > div .alignSelf .wrapTextSquare {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.square > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  border-radius: 20px;
}
.square > div .bgSquareFlights {
  background-image: url("../img/FlightsBg.png");
}
.square > div .bgSquareHotels {
  background-image: url("../img/HotelsBg.png");
}

.reviews {
  margin-top: 67px;
}
.reviews .titleReviews {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1232px;
  width: 100%;
}
.reviews .titleReviews > div h3 {
  font-size: 32px;
  margin: 0%;
}
.reviews .titleReviews > div p {
  margin-top: 16px;
}
.reviews .wrapSlides {
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.reviews .wrapSlides .slides {
  padding-left: 15%;
  cursor: pointer;
  display: inline-flex;
  overflow: hidden;
  padding: 40px 2% 25px;
}
.reviews .wrapSlides .slides .slideWrap {
  box-sizing: border-box;
  width: 425px;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 20px 25px rgba(141, 211, 187, 0.4);
  display: flex;
  flex-direction: column;
}
.reviews .wrapSlides .slides .slideWrap .slideContent {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.244);
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.reviews .wrapSlides .slides .slideWrap .slideContent .slidePadding {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.reviews .wrapSlides .slides .slideWrap .slideContent .slidePadding > p:first-child {
  font-size: 24px;
  font-family: "Gothic";
}
.reviews .wrapSlides .slides .slideWrap .slideContent .slidePadding .relativeParagraph {
  overflow: hidden;
  height: 40px;
}
.reviews .wrapSlides .slides .slideWrap .slideContent .slidePadding .buttonViewMore {
  border: transparent;
  background-color: transparent;
  font-family: "Gothic";
  font-size: 16px;
  display: flex;
  justify-content: end;
  transform: translate(0px, 0px);
}
.reviews .wrapSlides .slides .slideWrap .slideContent .slidePadding .imgDivReviews {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.reviews .wrapSlides .slides .slideWrap .slideContent .slidePadding .imgDivReviews img {
  padding-top: 30px;
  display: flex;
  align-self: flex-end;
  max-height: 100%;
}

.subscribe {
  position: relative;
  bottom: -150px;
  margin: 0 auto;
  width: 100%;
  max-width: 1232px;
  background-color: rgb(205, 234, 225);
  border-radius: 20px;
  display: flex;
  padding-left: 24px;
  justify-content: space-between;
}
.subscribe > div > p {
  font-family: "Gothic";
  font-size: 44px;
  width: 250px;
  margin: 0px;
  padding-top: 24px;
}
.subscribe .paragraphWrap {
  margin-top: 24px;
}
.subscribe .paragraphWrap .paragraphSubscribe {
  margin-top: 8px;
}
.subscribe .paragraphWrap button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 10px 12px 10px;
}
.subscribe .paragraphWrap button:active {
  transform: scale(0.8, 0.8);
}
.subscribe .paragraphWrap input {
  margin-top: 16px;
  border: solid transparent;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  width: 80.8%;
}
.subscribe .paragraphWrap input:active, .subscribe .paragraphWrap input:hover, .subscribe .paragraphWrap input:focus {
  outline: 0;
  outline-offset: 0;
}
.subscribe img {
  padding-right: 25px;
}

footer {
  background-color: rgb(141, 211, 187);
  font-family: "Montserrat", sans-serif;
  padding-top: 218px;
  padding-bottom: 64px;
}
footer .footerWrap {
  width: 100%;
  max-width: 1232px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
footer .footerWrap .listsOfFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}
footer .footerWrap .listsOfFooter > div {
  display: flex;
  width: 100%;
  max-width: 390px;
  justify-content: space-between;
}
footer .footerWrap .listsOfFooter > div ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}
footer .footerWrap .listsOfFooter > div ul li {
  padding-top: 8px;
}

@media screen and (max-width: 1375px) {
  .plansOfPlaces .wrapPlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plansOfPlaces .wrapPlaces .places {
    display: grid;
    grid-template-columns: repeat(2, 390px);
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 32px;
  }
  .square {
    display: flex;
    justify-content: center;
  }
  .square > div {
    max-width: 40%;
    max-height: 40vh;
  }
}
@media screen and (max-width: 1272px) {
  .subscribe {
    width: 90%;
  }
  .navFlightsBlock {
    width: 90%;
    margin: 0 auto;
  }
  .navFlightsBlock .navFlightsSection .fieldsets > div {
    display: flex;
    justify-content: center;
    padding-right: 24px;
  }
  .navFlightsBlock .navFlightsSection .fieldsets > div > div {
    display: block;
  }
  .square {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .square .wrapTextSquare {
    margin-left: 10px;
    margin-right: 10px;
  }
  .square .hotelsSquare {
    margin-left: 0px;
    margin-top: 24px;
  }
  .reviews .titleReviews {
    width: 88%;
  }
  .subscribe {
    position: relative;
    bottom: -80px;
  }
  .subscribe > div {
    margin: 0 auto;
    display: flex;
  }
  .subscribe > div .inputButtonSubscribe {
    margin-bottom: 24px;
  }
  .subscribe .imgSubscribe {
    display: none;
  }
  footer {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
  }
  footer .footerWrap .imgFooterWrap {
    margin-right: 30px;
  }
  footer .footerWrap .listsOfFooter {
    width: 100%;
    max-width: 700px;
  }
  footer .footerWrap .listsOfFooter > div {
    display: flex;
    width: 100%;
    max-width: 330px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1060px) {
  .plansOfPlaces .wrapPlaces .places {
    display: grid;
    grid-template-columns: none;
  }
  .plansOfPlaces .wrapPlaces .places ul {
    padding-right: 20px;
  }
  .plansOfPlaces .wrapPlaces .places .hidden {
    display: none;
  }
  .square {
    margin-left: 0px;
  }
  .square > div {
    min-width: 400px;
    min-height: 400px;
  }
  footer .listsOfFooter .secondList {
    margin-left: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .subscribe {
    padding-left: 0px;
    width: 60%;
  }
  .subscribe > div > p {
    width: 200px;
  }
  .subscribe > div {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
  .subscribe > div .inputButtonSubscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe > div .inputButtonSubscribe button {
    margin-top: 10px;
  }
  .footerWrap {
    align-items: center;
    flex-direction: column;
  }
  .footerWrap .listsOfFooter {
    margin-top: 24px;
  }
}
@media screen and (max-width: 824px) {
  header > div:first-child {
    flex-direction: column;
  }
  header > div:first-child > div:last-child {
    margin-top: 10px;
    padding-left: 20px;
  }
  header .headerButtons {
    width: 120px;
  }
  .navFlightsBlock {
    width: 47%;
    min-width: 380px;
  }
  .navFlightsBlock .navFlightsSection .fieldsets > div {
    flex-direction: column;
  }
  footer .footerWrap .listsOfFooter {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  footer .footerWrap .listsOfFooter .secondList {
    margin-top: 24px;
    margin-left: 0px;
  }
}/*# sourceMappingURL=index.css.map */